.App {
  font-family: sans-serif;
}
body {
  background: #141417;
  color: #ffffff;
}
img {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 150px;
  height: 100px;
}
h1 {
  font-family: "Times New Roman", Times, serif;
  text-align: center;
}
p {
  padding: 5px;
  font-size: 25px;
}
.image-container {
  position: relative;
  transition: transform 0.2s;
  left: 70px;
}

.image-container:hover {
  cursor: pointer;
  transform: scale(1.1);
  border: 5px solid black;
}

.image-container:hover .overlay {
  opacity: 1;
}

.overlay {
  position: absolute;
  background: rgba(0, 0, 0, 0.8);
  width: 100%;
  transition: 0.5s ease;
  opacity: 0;
  bottom: 0;
  font-size: 20px;
  padding: 20px;
  text-align: center;
}
